.azul{
    background-color: blue;
}
.centro{
    text-align-last: center;
}
.verde{
    background-color: green;
    color: green;
}
.estudiar {
    font-style: inherit;
}
.azulito {
    background-color:aquamarine ;
}